* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #05060a 0%,
    #0b1c2d 50%,
    #081420 100%
  );
}

.app {
  width: 100%;
  max-width: 1200px;   /* desktop website width */
  margin: 0 auto;
  padding: 40px 20px 120px;
}

/* HEADER */
.top-header {
  width: 100%;
  height: 120px;
  background: linear-gradient(90deg, #015085, #015085);

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 140px;
  padding: 20px 0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
}

.header-logo {
  height: 400px;
  width: auto;
  object-fit: contain;
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

/* Product Section */
.section-title {
    text-align: center;
    color: var(--gold);
    font-size: 1.2rem;
    margin: 20px 0;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 15px 100px 15px;
}

/* Cards */
.product-card {
    background: var(--card-bg);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color: var(--text-dark);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    height: 120px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 0.9rem;
    margin: 10px 0 5px;
    color: var(--space-blue);
}

.product-card p {
    font-size: 0.7rem;
    margin-bottom: 10px;
    height: 30px;
    overflow: hidden;
}

.buy-btn {
    background: var(--space-blue);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
}
