/* base.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* signup.css */
.signup-container {
  width: 360px;
  background: rgba(10,10,20,0.6);
  border-radius: 16px;
}